*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    height: 100vh;
    width: 100%;
    background-color: rgb(237, 216, 197);
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    display: flex;  
    flex-wrap: wrap;
    max-width: 800px;
}

img{
   height: 450px;
   /* border-radius: 30px; */
   border-top-left-radius: 30px 30px;
   border-bottom-left-radius: 30px 30px;
}
.content {
    background-color: white;
    display: inline-block;
    padding: 10px 20px 0 30px;
    width: 400px;
    height: 450px;
    /* border-radius: 30px; */
    border-top-right-radius: 30px 30px;
    border-bottom-right-radius: 30px 30px;
  }
.product {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    color: gray;
    font-weight: 500;
    letter-spacing: 0.3rem;
    padding: 10px 0;
}
.product-heading {
    width: 60%;
    margin: 15px 0;
    font-family: "Fraunces", serif;
    font-size: 2rem;
    font-weight: 800;
}
.desc {
    font-family: "Montserrat", sans-serif;
    color: gray;
    width: 85%;
    font-weight: 300;
}
.current-price {
    font-family: "Fraunces", serif;
    font-size: 2rem;
    font-weight: 800;
    color: #227c70;
    padding: 10px 20px 10px 0;
}
.original-price {
    font-family: "Montserrat", sans-serif;
    color: gray;
    display: inline-block;
    margin-right: 20px;
    font-weight: 400;
}
.price {
    margin: 20px 0;
}
i{
    padding-right: 10px;
}
.btn {
    background-color: #227c70;
    color: white;
    font-family: "Montserrat", sans-serif;
    width: 100%;
    border: none;
    border-radius: 5px;
    /* margin-bottom: 30px; */
    padding: 15px;
    font-weight: bold;
}
.btn:hover{
    background-color: #174c44;
}
